force-app/main/default/flows/SafetyConcern_StatusChangeNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Sends an email alert to the case contact when a Safety Concern case status changes to In Review or Closed.</description>
    <label>Safety Concern — Status Change Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>

    <!-- Decision: Did status change to In Review or Closed? -->
    <decisions>
        <name>Check_Status_Change</name>
        <label>Status Changed to In Review or Closed?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No — Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Status_Is_In_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SafetyConcern</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Status_Update_Email</targetReference>
            </connector>
            <label>In Review</label>
        </rules>
        <rules>
            <name>Status_Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SafetyConcern</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Status_Update_Email</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>

    <!-- Send Email Alert -->
    <actionCalls>
        <name>Send_Status_Update_Email</name>
        <label>Send Status Update Email</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Update on Your Safety Report — Case #{!$Record.CaseNumber}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Your safety concern report (Case #{!$Record.CaseNumber}) has been updated.

New Status: {!$Record.Status}

Our safety team will be in touch if additional information is required.

Thank you for helping keep our operations safe.

Airline Safety Team</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
</Flow>
